.not-selected-container {
	background-color: #131313;
	width: 50%;
	position: relative;
	color: white;
	text-align: center;

	img {
		position: absolute;
		width: 50%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}
