.not-selected-container {
	width: 50%;
	position: relative;
	color: white;
	text-align: center;
	height: 100vh;
	img {
		position: absolute;
		width: 50%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		filter: invert(67%) sepia(97%) saturate(280%) hue-rotate(69deg)
			brightness(90%) contrast(95%);
	}

	h2 {
		margin-top: 100px;
	}
}
