@import '../var';

.playlists-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	background-color: $black-spotify;
	border: 1px ridge $gray;

	h2 {
		text-align: center;
		margin-block-start: 0;
		margin-block-end: 0;
	}
}

.header {
	background-color: $green-spotify;
	height: 10%;
	border-bottom: 1px solid $gray;

	h2 {
		font-size: 40px;
		margin-bottom: 0;
		padding-top: 5px;
		padding-bottom: 0;
	}
}

.list {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: space-around;
	height: 80%;
	padding-inline-start: 0px;
	h2 {
		text-align: left;
	}
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10%;
	.goBack {
		text-align: center;
		background-color: $green-spotify;
		font-family: 'Montserrat', sans-serif;
		border-radius: 50px;
		font-weight: 700;
		width: 200px;
		height: 40px;
		display: block;
		margin: auto;
	}
}

.category-empty {
	color: $gray;
	text-align: center;
	justify-content: center;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
