@import '../var';

.songs-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	overflow-y: auto;
	height: 92vh;

	ul {
		list-style: none;
		height: 100%;
		padding-top: 100px;
	}

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-bottom: 1px solid #373434;
		height: 50px;
		align-items: center;
		a {
			color: white;
			font-size: 100%;
			text-decoration: none;
		}
	}
}
