/* Header */
@import '../var';

.header-container {
	background-color: $green-spotify;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	border: 1px solid $gray;

	h1 {
		font-size: 50px;
	}
}

.header-img {
	width: 40%;
}
