/* Header */
.header-container {
  background-color: #5fd662;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #eeee; }
  .header-container h1 {
    font-size: 50px; }

.header-img {
  width: 40%; }

.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 50vh;
  margin-bottom: 50px; }

.loading-component {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 150px; }

/* Category card component */
.category-card {
  width: 25%;
  height: 45%;
  text-align: center;
  align-items: center;
  color: white;
  margin-bottom: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .category-card h2 {
    top: 0px;
    white-space: initial;
    font-size: 100%;
    font-weight: bold; }

.main-container {
  width: 80%;
  margin: auto;
  margin-top: 0;
  padding-top: 0;
  justify-content: center;
  background-color: #131313;
  border: 1px solid #eeee; }

.sub-title {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.hvr.mine {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-mine:hover,
.hvr-mine:focus,
.hvr-mine:active {
  background-color: #5fd662;
  cursor: pointer;
  transition-duration: 0.3s; }
  .hvr-mine:hover a,
  .hvr-mine:focus a,
  .hvr-mine:active a {
    color: #131313; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #131313; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.button {
  text-align: center;
  background-color: #5fd662;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 100px;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px; }

.btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 5x 10px;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  margin: 20px;
  color: white;
  position: relative;
  display: inline-block; }

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px; }

.playlists-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  background-color: #131313;
  border: 1px ridge #eeee; }
  .playlists-container h2 {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0; }

.header {
  background-color: #5fd662;
  height: 10%;
  border-bottom: 1px solid #eeee; }
  .header h2 {
    font-size: 40px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 0; }

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  height: 70%;
  padding-inline-start: 0px; }
  .list h2 {
    text-align: left; }

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  padding-top: 10px; }
  .button-container .goBack {
    text-align: center;
    background-color: #5fd662;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    font-weight: 700;
    width: 200px;
    height: 40px;
    display: block;
    margin: auto; }

.category-empty {
  color: #eeee;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px; }

.li-element {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeee; }
  .li-element div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .li-element h2,
  .li-element p,
  .li-element em {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    padding-left: 15px;
    color: #eeeeee;
    margin-bottom: 10px; }

.not-selected-container {
  width: 50%;
  position: relative;
  color: white;
  text-align: center;
  height: 100vh; }
  .not-selected-container img {
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    filter: invert(67%) sepia(97%) saturate(280%) hue-rotate(69deg) brightness(90%) contrast(95%); }
  .not-selected-container h2 {
    margin-top: 100px; }

.songs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  overflow-y: auto;
  height: 92vh; }
  .songs-container ul {
    list-style: none;
    height: 100%;
    padding-top: 100px; }
  .songs-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #373434;
    height: 50px;
    align-items: center; }
    .songs-container li a {
      color: white;
      font-size: 100%;
      text-decoration: none; }

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  margin-left: 0px;
  padding-left: 0px; }

.playlists-screen-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  background-color: #131313; }

.song-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 100vh; }

.song-card-container {
  display: flex;
  flex-direction: row;
  border: 3px solid white;
  border-radius: 50px;
  width: 80%;
  margin: auto;
  height: 80%;
  background-color: #131313; }
  .song-card-container img {
    width: 50%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 3px solid white; }
  .song-card-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    color: white;
    height: 50%;
    width: 80%;
    margin-left: 0px;
    margin-top: 20px;
    font-size: 25px; }
    .song-card-container ul li {
      margin-bottom: 40px; }

.song-description-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #131313; }

.song-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #5fd662;
  border-top-right-radius: 50px;
  border-left: 2px solid black;
  width: 100%;
  border-bottom: 3px solid #eeee; }

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 60px; }

.button {
  text-align: center;
  background-color: #5fd662;
  font-family: 'Montserrat', sans-serif;
  border-radius: 50px;
  font-weight: 700;
  width: 200px;
  height: 40px;
  margin-right: 20px; }

.go-back {
  text-align: center;
  background-color: #eeee;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  border-radius: 50px;
  font-weight: 700;
  margin-left: 20px;
  width: 200px;
  height: 40px; }

a {
  text-align: center;
  color: #eeee;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  a:hover {
    transform: scale(1.1);
    color: white;
    text-decoration: underline; }

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #eeee;
  font-weight: 900;
  padding-bottom: 20px; }
  .footer p {
    font-size: 20px;
    margin-left: 20px; }
  .footer img {
    filter: invert(67%) sepia(97%) saturate(280%) hue-rotate(69deg) brightness(90%) contrast(95%);
    width: 44px; }

body {
  background-color: #131313;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/07/36/audience-1868137_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */