@import '../var';

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: $gray;
	font-weight: 900;
	padding-bottom: 10px;

	p {
		font-size: 20px;
		margin-left: 20px;
	}

	img {
		filter: invert(67%) sepia(97%) saturate(280%) hue-rotate(69deg)
			brightness(90%) contrast(95%);
		width: 44px;
	}
}
