@import './PlaylistsScreen/playlistsContainer';
@import './PlaylistsScreen//Playlist';
@import './PlaylistsScreen/NotSelected';
@import './PlaylistsScreen/SongsContainer';
@import './loading.scss';

.playlists-screen-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	background-color: $black-spotify;
}
