@import './var';

.song-screen-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: auto;
	height: 100vh;
}

.song-card-container {
	display: flex;
	flex-direction: row;
	border: 3px solid white;
	border-radius: 50px;
	width: 80%;
	margin: auto;
	height: 80%;
	background-color: $black-spotify;

	img {
		width: 50%;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		border-right: 3px solid white;
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style: none;
		color: white;
		height: 50%;
		width: 80%;
		margin-left: 0px;
		margin-top: 20px;
		font-size: 25px;
		li {
			margin-bottom: 40px;
		}
	}
}

.song-description-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	color: $black-spotify;
}

.song-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: $green-spotify;
	border-top-right-radius: 50px;
	border-left: 2px solid black;
	width: 100%;
	border-bottom: 3px solid $gray;
}

.buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 60px;
}

.button {
	text-align: center;
	background-color: $green-spotify;
	font-family: 'Montserrat', sans-serif;
	border-radius: 50px;
	font-weight: 700;
	width: 200px;
	height: 40px;
	margin-right: 20px;
}

.go-back {
	text-align: center;
	background-color: $gray;
	font-family: 'Montserrat', sans-serif;
	margin-top: 5px;
	border-radius: 50px;
	font-weight: 700;
	margin-left: 20px;
	width: 200px;
	height: 40px;
}

a {
	text-align: center;
	color: $gray;
	font-size: 20px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		transform: scale(1.1);
		color: white;
		text-decoration: underline;
	}
}
