@import './main.scss';
@import './ui.scss';
@import './playlists.scss';
@import './var';
@import './song.scss';
@import './Footer/footer.scss';

body {
	background-color: $black-spotify;
	background-repeat: no-repeat;
	background-size: cover;
}
