@import './main.scss';
@import './ui.scss';
@import './playlists.scss';
@import './var';
@import './song.scss';
@import './Footer/footer.scss';

body {
	background-color: $black-spotify;
	background-image: url('https://cdn.pixabay.com/photo/2016/11/29/07/36/audience-1868137_960_720.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}
