@import './main.scss';
@import './ui.scss';
@import './playlists.scss';
@import './var';
@import './song.scss';
@import './Footer/footer.scss';

body {
	background-color: $black-spotify;

	/* background-image: url('https://images.pexels.com/photos/734918/pexels-photo-734918.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
	// background-image: url('https://images.pexels.com/photos/1481309/pexels-photo-1481309.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	/* background-image: url('https://images.pexels.com/photos/705793/pexels-photo-705793.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
	background-repeat: no-repeat;
	background-size: cover;
}
